server:
  port: 8080

spring:
  devtools:
    restart:
      enabled: false
  docker:
    compose:
      enabled: false

logging:
  level:
    root: INFO
    com.zfb: DEBUG
    org.springframework.web: INFO
    org.springframework.security: INFO
    org.hibernate.SQL: DEBUG

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics,circuitbreakers,ratelimiters
  endpoint:
    health:
      show-details: when-authorized

jwt:
  secret: ${JWT_SECRET:change-this-to-secret-key-which-must-be-at-least-256-bits-long}
  access-token-validity: 3600000
