server:
  port: 8083

spring:
  devtools:
    restart:
      enabled: true
  docker:
    compose:
      file: ../compose.yaml
      enabled: true
  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    root: INFO
    com.zfb: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

common:
  cors:
    allowed-origins: http://localhost:3000,http://localhost:8080

feign:
  client:
    config:
      current-service:
        url: http://localhost:8081
      forex-service:
        url: http://localhost:8082
